<div class="navbar-global">
  <div class="navbar-global-left">
    <p>Arthur Allamand</p>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-global-right hidden-xs hidden-sm">
      <!-- Links on the right -->
      <%= link_to "Contact", "#", class: "navbar-global-item navbar-global-link" %>
      <%= link_to "Projects", "#", class: "navbar-global-item navbar-global-link" %>
  </div>
</div>

