<div class="container">
  <div class="text">
    <div class="text-description">
      <h1>Product guy with appetence for:</h1>
      <ul>
        <li>User Experience</li>
        <li>Product Design</li>
        <li>Web development (Ruby on rails, JS, HTML, CSS...)</li>
      </ul>
    </div>
    <div class="text-oppotunities">
      <h1>Always looking forward to use my skills on new projects</h1>
      <p>
        Check what I've been working on for the past few years and get in touch if you
        want to discuss business oppotunity or just talk.
      </p>
    </div>
  </div>
</div>
