/* Main navbar */
.navbar-wagon {
  background: $white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Right section */
.navbar-wagon-right {
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $gray;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  opacity: 0.7;
  color: $gray;
  text-decoration: none;
}
